<header>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Brazil</a>
                    <a class="dropdown-item" href="#">Sports</a>
                    <a class="dropdown-item" href="#">Economic</a>
                </div>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<main>
    <div class="logo">
        <img src="images/logo.png" alt="Image of Today News Logo" srcset="">
    </div>
    <div class="important-news">
        <h1>Important News</h1>
        <div class="cards">
            <div class="card">
                <img class="card-img-top" src="images/apoiadores-motos-sao-paulo-12062021101345200.jpeg" alt="" srcset="">
                <div class="card-body">
                    <div class="card-title">
                        <h4>President Bolsonaro during motorcycle march</h4>
                    </div>
                    <div class="card-text">
                        <p>Indo contra especialistas bolsonaro promove aglomeração e incentiva não uso de máscara</p>
                    </div>
                </div>
                <a href="#" class="btn btn-dark">Read full news</a>
            </div>
            <div class="card">
                <img class="card-img-top" src="images/g7-cupula-cornualha-lideres-bloco-11062021114912773.jpeg" alt="" srcset="">
                <div class="card-body">
                    <div class="card-title"> 
                        <h4>G7 Reunion</h4>
                    </div>
                    <div class="card-text">
                        <p>Reunião do G7 começa com assuntos de clima e vacina</p>
                    </div>
                </div>
                <a href="#" class="btn btn-dark">Read full news</a>
            </div>
            <div class="card">
                <img class="card-img-top"src="images/casemiro-06062021000105697.jpeg" alt="" srcset="">
                <div class="card-body">
                    <div class="card-title">
                        <h4>America Cup</h4>
                    </div>
                    <div class="card-text">
                        <p>Copa américa começa contra vontade de especialistas</p>
                    </div>
                </div>
                <a href="#" class="btn btn-dark">Read full news</a>
            </div>
        </div>
    </div>
</main>
