<!DOCTYPE html>
<html lang="pt-br">
 <%- include("inc/head") -%>
<body>
    <%- body %>

    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

</body>
</html>